<footer>
    
    <div class="container">
        <div class="row">
             
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
               <div class="Titulos">Contactenos </div>
               <p>Tel: 3103240460 </p>  
               <p>Cra 100 # 20-54 </p>
            </div>
      
       
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                  <div class="Titulos">Horarios de Atencio </div>
                  <div class="horario"> Lunes a Viernes 8:00 a 18:00 </div>
                  <div class=" horario"> Savados y Domingos 9:00 a 16:00</div>
            </div>
          
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="Titulos">Medios de Pago </div> 
                  <img src="https://i.pinimg.com/736x/fd/18/d6/fd18d6dbc3bcbe74a2fe3ffa700b7cdc.jpg">
            </div>
        </div>
    </div>
        
          
      


</footer>