<app-header></app-header>
<div class=" container">
    <div class="row">
       <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let item of [0,1,2,3,4,5]">
           <div class="productos">
               <div class="miproducto">
                   <img src="./assets/Imagenes/juguete-sonajer.jpg">
               </div>
               <div class="nomnbreproducto"> nombre producto</div>
               <div class="presio" >xxxx</div>
               <button type="button" class="btn btn-primary">Añadir</button>
           </div>
       </div>
    </div>
</div>
 

    
  
  








   

<app-footer></app-footer>